{% extends "_base.html" %}

{% block js %}

<script type="text/javascript">

    oldColor = "bg-secondary";

    function update(message) {
        state = "state" in message ? message["state"] : "PENDING"
        messages = "messages" in message ? message["messages"] : ["", "", ""]
        percent = "percent" in message ? message["percent"] : 0.0

        updateProgressbar(state, percent);
        updateButtons(state, percent);
        updateMessages(messages);
    }

    function updateMessages(messages) {
        const messageBoard = document.getElementById('messages');
        console.log(messages);
        messageBoard.innerHTML = messages.join("<br />");
    }

    function updateProgressbar(state, percent) {
        const progress = document.getElementById('progressbar');
        if (state == "STARTED") {
            progress.innerHTML = percent + "%";
            newColor = "bg-warning";
            progress.classList.remove(oldColor);
            progress.classList.add(newColor);
            oldColor = newColor;
            progress.style.width = percent + "%";
            progress.ariaValueNow = percent;
        } else if (state == "SUCCESS") {
            progress.innerHTML = "done";
            newColor = "bg-success";
            progress.classList.remove(oldColor);
            progress.classList.add(newColor);
            oldColor = newColor;
            progress.style.width = "100%";
            progress.ariaValueNow = 100;
        } else if (state == "ERROR") {
            progress.innerHTML = "failed";
            newColor = "bg-failed";
            progress.classList.remove(oldColor);
            progress.classList.add(newColor);
            oldColor = newColor;
            progress.style.width = "0%";
            progress.ariaValueNow = 0;
        } else {
            progress.innerHTML = "ready";
            newColor = "bg-secondary";
            progress.classList.remove(oldColor);
            progress.classList.add(newColor);
            oldColor = newColor;
            progress.style.width = "0%";
            progress.ariaValueNow = 0;
        }
    }

    function updateButtons(state, percent) {
        const submit = document.getElementById('submit');
        const reset = document.getElementById('reset');
        const download = document.getElementById('download');
        if (state == "PENDING") {
            submit.disabled = false;
            reset.disabled = true;
            download.disabled = true;
        } else if (state == "STARTED") {
            submit.disabled = true;
            reset.disabled = false;
            download.disabled = true;
        } else if (state == "SUCCESS") {
            submit.disabled = true;
            reset.disabled = false;
            download.disabled = false;
        } else {
            submit.disabled = true;
            reset.disabled = false;
            download.disabled = true;
        }
    }

    function excelUpdateStatus() {
        fetch("/api/excel/status", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(res => {
                update(res);
            })
            .catch(err => {
                console.log(err);
                update();
            });
    }

    function excelEnvirocode() {
        const file = document.getElementById('file').files[0];
        var formData = new FormData();
        formData.append('file', file);
        fetch("/api/excel/submit", {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(res => {
                console.log(res);
                update(res);
            })
            .catch(err => {
                console.log(err);
            });
    }

    function cancelEnvirocode() {
        fetch("/api/excel/reset", {
            method: 'GET',
        })
            .catch(err => {
                console.log(err);
                update();
            });
    }

    function downloadExcel() {
        fetch("/api/excel/get", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            },
        })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.style.display = "none";
                a.href = url;
                // the filename you want
                a.download = "environment.xlsx";
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(err => {
                console.log(err);
                update();
            });
    }

    var timerId = null;
    if (timerId == null) {
        timerId = setInterval(excelUpdateStatus, 500);
    }
</script>








{% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">Envirocoding of address + date combinations in an Excel file.</div>
    <div class="card-body">
        <p class="card-text">Excel file needs data in three columns with these (exact!) labels in the first row:<br>
            <code>id, date, address</code>
        </p>

        <div class="mb-3">
            <label for="file" class="form-label">File</label>
            <input type="file" class="form-control" id="file" name="file">
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary" id="submit"
                    onclick="excelEnvirocode();">Envirocode</button>
            </div>
            <div class="col-8 text-center">
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" id="progressbar">ready</div>
                </div>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-danger" id="reset" onclick="cancelEnvirocode();"
                    disabled>Reset</button>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-success" id="download" disabled
                    onclick="downloadExcel();">Download</button>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">Status</div>
    <div class="card-body">
        <div class="row">
            <div class="col" id="messages"></div>
        </div>
    </div>


</div>
</div>

{% endblock %}